[CoverSettings]
size = u16

quality = 0 - 100
interpolation = FilterType
aspect_ratio = AspectRatio

[AudioAnalysisSettings]
fft_enabled = bool
fft_size = 2 ** n

[WaveformSettings]
length = u16
height = u16

sample_style = bars | connected
sample_smoothing = f32

fill_type = solid | gradient | texture | none
fill_colors = [ Str ]
fill_color = Str
fill_texture = PathBuf

stroke_type = solid | gradient | texture | none
stroke_texture = PathBuf
stroke_color = Str
stroke_colors = [ Str ]
stroke_width = f32

[ThumbnailSettings]
waveform_on_fail = bool
thumbnail_format = jpeg | png | webp

overlay = cd | icon | none

[Debug]
enabled = bool
log_file = /var/log/audio_thumbnailer.log
